// set custom hex colors
$siteBgColorCustom:    #ccecff;   //  light blue 202-20-100 check
$sidebarBgColorCustom: #B3E3FF;   // light blue 202-30-100 check
$textColorCustom:  #0D3380;   // dark blue 220-90-50 check
$sidebarTextColorCustom: #0D3380;    // dark blue 220-90-50 check
$headlineColorCustom: #1247b3;    // dark blue 220-90-70 check
$headingColorCustom: #066F80;    // dark turquoise 188-95-50
$bodyLinkColorCustom: #0091E6;    // bright blue 202-100-90
$navLinkColorCustom: #1247b3;    // dark blue 220-90-70
$sidebarLinkColorCustom: #066F80;    // dark turquoise 188-95-50
$footerTextColorCustom: #4dbeff; // mid blue 202-70-100
$buttonTextColorCustom:#CC0501; // red
$buttonHoverTextColorCustom: #ccecff;   //  light blue 202-20-100 check
$buttonBgColorCustom: #CC0501;   // red
$buttonHoverBgColorCustom: #0D3380;   // dark blue 220-90-50 check
$borderColorCustom: #067BBF;   // dark blue 202-97-75


